{% extends "base.html" %}
{% block title %}处理{% endblock %}

{% block page_content %}
<script type="text/javascript">
function addToProcessButtonClicked() {
  var videoName = $('#videoToProcess').text()
  var tagString = $("#tag").val().trim();
  var tags = $("#tag").val().trim().split("\n");
  captionChecked = $("#captionCheckbox").prop('checked')
  // captionChecked = 'true'
  var height = 0
  height_str = $("#img-height").val()
  if (height_str != "") {
      height = parseInt(height_str)
      if (isNaN(height) || height < 200 || height > 500) {
        alert("请填写符合要求的高度")
        return
      }
  }
  
  addToProcess(videoName, height, JSON.stringify(tags), captionChecked, function(data){
      $('#addToProcessModal').modal('hide');
      tasks.processedData = data['processed_files']
      tasks.unprocessedData = data['unprocessed_files']
  })

}
</script>
<div class="container" id="task_page">
    <div class="row">
        <div id="left" class="col-md-5">
          <table class="table" id="unprocessed">
              <tr>
                <th>视频</th>
                <th>视频大小</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
              <tr is="unprocessedtr" v-for="data in unprocessedData" v-bind:data="data"></tr>
              </unprocessedtr>
          </table>
        </div>
        <div id="right" class="col-md-6 col-md-offset-1">
          <table class="table" id="processed">
              <tr>
                <th>视频</th>
                <th>视频大小</th>
                <th>图片</th>
                <th>原尺寸图片</th>
              </tr>
              <tr is="processedtr" v-for="data in processedData" v-bind:data="data"></tr>
              </processedtr>
          </table>
        </div>
    </div>
    <div id="addToProcessModal" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="videoToProcess" class="modal-title"></h4>
              </div>
              <div class="modal-body">
                  <input type="checkbox" id="captionCheckbox" checked><span> 是否生成字幕</span>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                  截图高度：<input type="" id='img-height' name="" placeholder="可选">   
                  
                  <br>
                  <p>默认截图宽度320，并保存原视频尺寸图片供下载</p>
                  <br>
                  <textarea id="tag" class="form-control" rows="10" placeholder="tag,用换行隔开"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="AddToProcessButton" onClick="javascript:addToProcessButtonClicked()">处理</button>
              </div>
            </div>
          </div>
        </div>
    
  </div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
function videoList(callback) {
        var params = {
        
        };
        url = "/getalldata"
        $.ajax({
            type: "GET",
            data: params,
            url: url,
            success: function(data) {
                waitingDialog.hide();
                console.log("成功");
                callback(data);
            },
            error: function(data) {
                waitingDialog.hide();
            },
            dataType: "json"
        });
    }

    var tasks = new Vue({
    el: '#task_page',
      data: {
          message: 'You loaded this page on ' + new Date(),
          processedData: [],
          unprocessedData: [],
      }
    })

  waitingDialog.show('处理中...');
  videoList(function(data){
      console.log(data['processed_files'])
      tasks.processedData = data['processed_files']
      tasks.unprocessedData = data['unprocessed_files']
  })
</script>
{% endblock %}