{% extends "base.html" %}
{% block title %}处理{% endblock %}

{% block page_content %}
<script type="text/javascript">

</script>
<div class="container" id="task_page">
    <div class="text-center">

    <div class="input-group col-md-2" style="height: 30px; float: right;">
          <input type="text" class="form-control" id="searchInput" placeholder="搜索" searchKey=''>
            <span class="input-group-btn">
              <button class="btn btn-primary" id="searchButton" type="button">搜索</button>
            </span>
    </div>


    </div>
    <div class="row" style="margin-top: 8px;">
        <div class="col-md-12">
          <table class="table">
              <tr>
                <th>视频名称</th>
                <th>视频信息</th>
                <th>文件大小</th>
                <th>上传时间</th>
                <th>操作</th>
              </tr>
              <tr is="videos" v-for="data in videos" v-bind:data="data"></tr>
              </videos>
          </table>
        </div>
    </div>
    


    <nav style="width: 100%; text-align: center;">
      <ul class="pagination">
        <li id="prePageButton" onClick="javascript:prePageButtonClicked()">
          <span aria-hidden="true">&laquo;</span>
        </li>
        <li is="pageindex" v-bind:current_page=current_page v-for="p_index in page_indexs" v-bind:p_index="p_index"></tr>
        </pageindex>
        

        
        <li id="nextPageButton" onClick="javascript:nextPageButtonClicked()">
            <span aria-hidden="true">&raquo;</span>
        </li>
      </ul>
    </nav>



    <div id="addToProcessModal" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="videoToProcess" class="modal-title"></h4>
                <p id="hashName" hidden="true"></p>
              </div>
              <div class="modal-body">
              <div class="radio">
                <label>
                  <input type="radio" id="captionCheckbox" onChange="javascript:methodChage()" name='method' checked>
                  按字幕截图  &nbsp &nbsp    
                </label>
                <label id="chineselabel">
                  <input type="radio" name="language" id="chinese" value="chinese" checked>
                  中文视频  &nbsp &nbsp  
                </label>
                <label id="foreignlabel">
                  <input type="radio" name="language" id="foreign" value="foreign">
                  其他语言  &nbsp &nbsp  
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" id="captionChec" name='method' onChange="javascript:methodChage()">
                 按时间截图
                </label>
                <span id='durationP' hidden="true">&nbsp &nbsp 截图间隔：<input type="" name="" id="duration" style="width: 25px"> &nbsp秒</span>
              </div>
                  
                截图高度：<input type="" id='img-height' name="" placeholder="可选">   
                  
                <br>
                <p style="margin-top: 8px">默认截图宽度320，并保存原视频尺寸图片供下载</p>
                  <textarea id="tag" class="form-control" rows="10" placeholder="tag,用换行隔开"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="AddToProcessButton" onClick="javascript:addToProcessButtonClicked()">处理</button>
              </div>
            </div>
          </div>
        </div>
    
  </div>
{% endblock %}


{% block scripts %}

<script type="text/javascript">
    var tasks = new Vue({
    el: '#task_page',
      data: {
          message: 'You loaded this page on ' + new Date(),
          videos: [],
          current_page: 1,
          page_indexs: [],

      }
    })

    var all_video = {{ videos|safe }}
    tasks.videos = all_video
    tasks.current_page = {{ current_page|safe }}
    tasks.page_indexs = {{ page_indexs|safe }}


  function methodChage() {
      captionChecked = $("#captionCheckbox").prop('checked')
      if (captionChecked == true) {
        $("#chineselabel").show()
        $("#foreignlabel").show()
        $("#durationP").hide()
      }else{
        $("#chineselabel").hide()
        $("#foreignlabel").hide()
        $("#durationP").show()
      }
  }
</script>

<script type="text/javascript">
  $('#searchInput').on('keypress', function (e) {
       if(e.which === 13){
          search()
       }
   });

  $("#searchButton").on("click", function(){
      search();
  });
</script>
{% endblock %}