{% extends "base.html" %}
{% block title %}处理{% endblock %}

{% block page_content %}
<div class="container" id="task_page">
    <div class="row">
    <table class="table" id="processed">
          <tr>
            <th>图片</th>
            <th>tag</th>
            <th>字幕</th>
          </tr>
        {% for gif in gifs %}
            <tr>
                <th><img class="previewImg" style="width: 200px; height: 200px;" src={{gif.url}}></th>
                <th>{{ gif.tags }}</th>
                <th>{{ gif.caption }}</th>
            </tr>
        {% endfor %}
          <tr is="processedtr" v-for="data in processedData" v-bind:data="data"></tr>
          </processedtr>
      </table>
    </div>
    
    
  </div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
    
</script>
{% endblock %}