<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- United theme from https://bootswatch.com/united/ -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/dropzone.css')}}"/>

    <script src="{{url_for('static', filename='scripts/dropzone.js')}}"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <title>Web API Development with Flask</title>
    {% endblock %}
</head>
<body>
<div id="container">

    {% block content %}


    {% endblock %}
</div>





</body>
</html>